* {
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  border: border-box;
}

.navBar {
  height: 60px;
  color: white;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logoBox {
  width: 100px;
  height: 50px;
  background-color: #0f1111;
  color: white;
}

.logo {
  height: 50px;
  background-image: url("images/amazon_logo.png");
  background-size: cover;
}

.border {
  border: 3px solid transparent;
}

.border:hover {
  border: 3px solid white;
}

.addressBox {
  justify-items: center;
  align-items: center;
}

.addIcon {
  display: flex;
}

.add1 {
  font-size: 0.75rem;
  color: #cccccc;
  margin-left: 15px;
}

.add2 {
  font-size: 1rem;
  margin-left: 3px;
}

.searchBar {
  display: flex;
  background-color: #cccccc;
  width: 620px;
  height: 40px;
  border-radius: 4px;

  justify-content: space-evenly;
}

.menu {
  background-color: #f3f3f3;
  width: 55px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  border: none;
}

.SearchIn {
  border: none;
  width: 100%;
  font: 1em;
}

.search-icon {
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.nav-one {
  font-size: 0.7rem;
}

.nav-second {
  font-size: 0.8rem;
  font-weight: 700;
}

.cartBar {
  display: flex;
  font-size: 30px;
  flex-direction: row;
  align-items: end;
}

.cart-text {
  font-size: 0.8rem;
}

.panel {
  display: flex;
  background-color: #222f32;
  color: white;
  height: 40px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.9rem;
}

.panel-ops {
  display: flex;

  width: 80%;
}

.panel-ops p {
  margin-left: 15px;
  font-size: 0.8rem;
  justify-self: start;
}

.panel-elec {
  position: relative;
  right: 10px;
  font-size: 0.9rem;
}

.hero {
  display: flex;
  height: 350px;
  background-image: url("images/hero_image.jpg");
  background-size: cover;
  justify-content: center;
  align-items: end;
}

.line {
  display: flex;
  align-items: center;
  width: 95%;
  justify-content: center;
  height: 35px;
  background-color: white;
  opacity: 80%;
  border-radius: 2px;
  margin: 20px;
}

.line p {
  font-size: 0.75rem;
}
.line a {
  color: #007185;
  text-decoration: none;
}

.shop-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e2e7e6;
  padding-top: 20px;

  flex-wrap: wrap;
}

.box {
  padding: 20px 0px 15px 0px;
  width: 22%;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.box-img {
  height: 300px;

  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #007185;
}
.box-content {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 0.85rem;
}
.box-content a {
  color: #007185;
  text-decoration: none;
  font-size: 1em;
}

.foot-panel {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #37475a;
  color: white;
  font-size: 0.84rem;
}
.foot-panel2 {
  height: 350px;
  display: flex;
  color: white;
  padding: 1rem;
  background-color: #222f32;
  justify-content: space-evenly;
  align-content: flex-start;
}
.foot-panel2 p {
  font-size: 0.8rem;
  margin: 1rem;
  color: #dddddd;
}
.foot-panel2 h3 {
  font-size: 0.8rem;
  margin: 1rem;
  color: #dddddd;
}
.foot-panel3 {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #222f32;
  height: 70px;

  border-top: 0.2px solid white;
}

.btmLogo {
  width: 150px;
  background-image: url("images/amazon_logo.png");
  background-size: cover;
}
.foot-panel4 {
  height: 70px;
  background-color: #0f1111;
  color: white;
  font-size: 0.6rem;
}
.foot-panel4 div {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}
.foot-panel4 a {
  text-decoration: none;
  color: white;
  margin: 1rem;
}
